* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.particleFrame iframe{
  height: 100vh;
  width: 100%;
}

/*Navigation bar*/

#unorderedList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#list {
  float: left;
}

#listLink {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 12px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#listHover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

